:host {
  display: block;
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;
}

.mat-mdc-tab-link {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.mat-mdc-tab-nav-bar {
  margin: 0 1em;
}
