@use "@angular/material" as mat;
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.

@include mat.core();
@include mat.legacy-core();

// Theme Config
/* For use in src/lib/core/theming/_palette.scss */
$mat-primary: (
  50: #e9e2ea,
  100: #c9b7cb,
  200: #a588a9,
  300: #805886,
  400: #65346c,
  500: #4a1052,
  600: #430e4b,
  700: #3a0c41,
  800: #320938,
  900: #220528,
  A100: #e064ff,
  A200: #d531ff,
  A400: #ca00fd,
  A700: #b500e3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$mat-accent: (
  50: #f4ebea,
  100: #e4cecb,
  200: #d3ada9,
  300: #c18c87,
  400: #b3736d,
  500: #a65a53,
  600: #9e524c,
  700: #954842,
  800: #8b3f39,
  900: #7b2e29,
  A100: #ffc2bf,
  A200: #ff928c,
  A400: #ff6159,
  A700: #ff4940,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$mat-secondary: (
  50: #f2f0f4,
  100: #dfd9e4,
  200: #cac0d2,
  300: #b5a6bf,
  400: #a593b2,
  500: #9580a4,
  600: #8d789c,
  700: #826d92,
  800: #786389,
  900: #675078,
  A100: #f0dcff,
  A200: #d9a9ff,
  A400: #c376ff,
  A700: #b85dff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-warn: (
  50: #f8e0e0,
  100: #edb3b3,
  200: #e18080,
  300: #d44d4d,
  400: #cb2626,
  500: #c20000,
  600: #bc0000,
  700: #b40000,
  800: #ac0000,
  900: #9f0000,
  A100: #ffc9c9,
  A200: #ff9696,
  A400: #ff6363,
  A700: #ff4a4a,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mushfood-light-primary: mat.define-palette($mat-primary);
$mushfood-light-accent: mat.define-palette($mat-accent);
$mushfood-light-warn: mat.define-palette($mat-warn);

/* Styles to be applied to buttons */
$my-custom-button: mat.define-typography-level(
  $font-family: "Roboto",
  $font-weight: 500,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: "normal",
);

/* Merge custom configs into existing config */
$my-typography-config: mat.define-typography-config(
  $button: $my-custom-button,
);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $mushfood-light-primary,
      accent: $mushfood-light-accent,
      warn: $mushfood-light-warn,
    ),
    typography: $my-typography-config,
    density: 0,
  )
);

// Theme Init
@include mat.core-theme($theme);
@include mat.all-component-themes($theme);