<ng-container *ngIf="(measurementUnitList$ | async) as measurementUnitList">
  <ng-container *ngIf="ingredientQuantityList">
    <h1>Liste des ingrédients</h1>
    <mat-list>
      <ng-container *ngFor="let ingredientQuantity of ingredientQuantityList">
        <app-ingredient-quantity-details *ngIf="ingredientList"
                                         class="mat-list-item-content"
                                         [ingredientQuantity]="ingredientQuantity"
                                         [measurementUnitList]="measurementUnitList"
                                         [ingredientList]="ingredientList"
                                         (deleted)="deleteIngredientQuantity(ingredientQuantity)"
                                         (updated)="updateIngredientQuantity($event)"
        >
        </app-ingredient-quantity-details>
      </ng-container>
    </mat-list>
  </ng-container>
  <ng-container *ngIf="(filteredIngredientList$ | async) as filteredIngredientList">
    <h2>Ajouter un ingrédient</h2>
    <form (ngSubmit)="addIngredientQuantity()" [formGroup]="ingredientForm">
      <mat-form-field>
        <mat-label>Quantité</mat-label>
        <input formControlName="quantity" matInput min="0" max="9999" step="0.1" type="number">
        <mat-error>Entrez une quantité de votre ingrédient</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Unitée de mesure</mat-label>
        <mat-select placeholder="Unitée de mesure" formControlName="measurementUnit">
          <mat-option *ngFor="let measurementUnit of measurementUnitList" [value]="measurementUnit">
            {{measurementUnit.name}}
          </mat-option>
        </mat-select>
        <mat-error>Entrez l'unité de mesure de votre ingrédient</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ingrédient</mat-label>
        <input #ingredientInput formControlName="ingredient" matInput maxlength="50" type="text"
               [matAutocomplete]="auto">
        <mat-hint align="end">{{ingredientInput.value?.length || 0}}/50</mat-hint>
        <mat-error>Entrez le nom de votre ingredient</mat-error>
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayIngredient">
          <mat-option *ngFor="let ingredient of filteredIngredientList"
                      [value]="ingredient">{{ingredient.name}}</mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="button-container">
        <button color="primary" mat-raised-button type="submit">
          Ajouter
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </form>
  </ng-container>
</ng-container>
