@import '../../../sass/theme/theme-small.scss';

.search{
  display: flex;
  align-items: center;
  justify-content: center;
  mat-form-field {
    max-width: 18em;
  }
}

.categories{
  max-width: 23em;
  text-align: center;
  margin: 0.5em auto auto;
  font-size: 16px;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  h2 {
    display: inline-block;
    font-weight: bold;
    color: $mat-primary-900;
  }

  a {
    margin-right: 0 ;
    line-height: 2.1em;
    padding: 0 0.6em;
    font-size: 1rem;
  }

  .mat-flat-button{
    border: 1px solid rgba(0, 0, 0, 0.12);
  }

  @media (max-width: 768px){
    margin-bottom: 0.5rem;
  }
  @media (min-width: 768px){
    margin-bottom: 3.5rem;
  }
}


.recipe-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 0 4em 0;
}

app-web-page-content h1{
  font-family: Impact, sans-serif;
  @media (max-width: 768px){
    font-size: 5em;
    padding: 0.5rem 0 0;
  }
  @media (min-width: 768px){
    font-size: 8em;
    padding: 1.5rem 0;
  }
  text-align: center;
  .mush{
    color:black;
  }
  .food{
    color:$mat-primary-400;
  }
}
