<app-web-page>
  <app-web-page-header>
    <app-web-page-title>
      Toutes les recettes
    </app-web-page-title>
    <app-web-page-subtitle>
      Approuvées par le chef Mushroom !
    </app-web-page-subtitle>
    <app-web-page-action-menu *ngIf="authService.currentUser$ | async">
      <a color="accent" mat-flat-button routerLink="/recipe/add">
        Nouvelle recette
        <mat-icon>add</mat-icon>
      </a>
    </app-web-page-action-menu>
  </app-web-page-header>
  <app-web-page-content>
    <div (resized)="onResized($event)" *ngIf="recipeListHexagon" class="recipe-list">
      <div *ngFor="let recipe of recipeList; let index = index"
           [class.last-left]="this.recipeListHexagon[index]===positionEnum.LastRowLeft"
           [class.left]="this.recipeListHexagon[index]===positionEnum.Left || this.recipeListHexagon[index]===positionEnum.All"
           [class.right]="this.recipeListHexagon[index]===positionEnum.Right || this.recipeListHexagon[index]===positionEnum.All"
           class="recipe-item">
        <a [routerLink]="['/recipe/details', recipe.slug]" class="item-shape" mat-ripple>
          <div [ngStyle]="{'background-image': 'url('+recipe.recipeImage.imageUrl+') '}" class="image-mask">
            <div class="text">
              <div class="reverse-mask-left"></div>
              <div class="reverse-mask-right"></div>
              <p>{{recipe.title}}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </app-web-page-content>
</app-web-page>
