:host {
  display: block;
}

h2 {
  display: flex;
  margin: auto;
  color: rgba(0, 0, 0, 0.54);
  hyphens: none;

  &::first-letter {
    text-transform: uppercase;
  }
}

:host.recipe {
  h2 {
    justify-content: center;
  }
}
