<mat-toolbar class="mat-elevation-z6" color="primary">
  <div class="menu__max-size">
    <a mat-button routerLink="/">
      <img [src]="iconUrl" class="icon" style="height: 30px;margin: 0 4px 2px 0;">
      MushFood
    </a>
    <div class="menu__filler"></div>
    <button *ngIf="authService.currentUser$ | async as user" mat-icon-button [matMenuTriggerFor]="beforeMenu">
      <mat-icon color="white">account_circle</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item routerLink="/profile" ><mat-icon color="white">settings</mat-icon>Paramètres</button>
      <button mat-menu-item routerLink="/logout"><mat-icon color="white">logout</mat-icon>Deconnexion</button>
    </mat-menu>
    <a *ngIf="!(authService.currentUser$ | async)" mat-button routerLink="/login">
      Connexion
    </a>
  </div>
</mat-toolbar>
<mat-progress-bar *ngIf="isLoading" color="accent" mode="indeterminate"></mat-progress-bar>
