// Navigation bar container
:host {
  position: relative;
}

.mat-toolbar {
  color: white;
  justify-content: center;
}

.menu__max-size {
  flex: 1;
  max-width: 850px;
  display: flex;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 2.5em;
}

// Flex filler between the left links and the right links
.menu__filler {
  flex: 1;
}

// Navigation button
.mat-button {
  font-size: 0.9em;
}

mat-progress-bar {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0;
}

