<form (ngSubmit)="addIngredientQuantity()"
      *ngIf="(filteredIngredientList$ | async) as filteredIngredientList"
      [formGroup]="ingredientForm"
      class="add-ingredient-form">
  <div class="form-field">
    <mat-form-field appearance="outline" class="quantity">
      <mat-label>Quantité</mat-label>
      <input formControlName="quantity" matInput max="9999" min="0" step="0.1" type="number">
      <mat-error>Entrez une quantité de votre ingrédient</mat-error>
    </mat-form-field>
  </div>
  <div class="form-field">
    <mat-form-field appearance="outline" class="unity">
      <mat-label>Unitée de mesure</mat-label>
      <mat-select formControlName="measurementUnit" placeholder="Unitée de mesure">
        <mat-option *ngFor="let measurementUnit of measurementUnitList" [value]="measurementUnit">
          {{measurementUnit.name}}
        </mat-option>
      </mat-select>
      <mat-error>Entrez l'unité de mesure de votre ingrédient</mat-error>
    </mat-form-field>
  </div>
  <div *ngIf="filteredIngredientList" class="last-form-field">
    <mat-form-field>
      <mat-label>Ingrédient</mat-label>
      <input #ingredientInput [matAutocomplete]="auto" formControlName="ingredient" matInput maxlength="50"
             type="text">
      <mat-hint align="end">{{ingredientInput.value?.length || 0}}/50</mat-hint>
      <mat-error>Entrez le nom de votre ingredient</mat-error>
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="this.ingredientQuantityService.displayIngredient">
        <mat-option *ngFor="let ingredient of filteredIngredientList"
                    [value]="ingredient">{{ingredient.name}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
  <div class="bottom-button-container">
    <button color="primary" mat-raised-button type="submit">
      Ajouter
      <mat-icon>add</mat-icon>
    </button>
  </div>
</form>
