<h1 mat-dialog-title>Nouvelle recette</h1>
<div mat-dialog-content>
  <form (ngSubmit)="this.createRecipe()" [formGroup]="recipeForm">
    <mat-form-field>
      <mat-label>Titre</mat-label>
      <input #titleInput formControlName="title" matInput maxlength="50" type="text">
      <mat-hint align="end">{{titleInput.value?.length || 0}}/50</mat-hint>
      <mat-error>Entrez un titre pour votre recette</mat-error>
    </mat-form-field>
  </form>
</div>
<div class="mushfood" mat-dialog-actions>
  <button (click)="this.createRecipe()" cdkFocusInitial color="primary" mat-raised-button>Créer</button>
  <button [mat-dialog-close]="" mat-stroked-button>Annuler</button>
</div>
