{% load static %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>MushFood</title>
    <base href="/">

    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="{% static "img/favicon.ico" %}" rel="icon" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "angular/styles.css" %}">
</head>
<body>
<app-root></app-root>
<script type="module" src="{% static "angular/runtime.js" %}"></script>
<script type="module" src="{% static "angular/polyfills.js" %}"></script>
<script type="module" src="{% static "angular/main.js" %}"></script>
</body>
</html>
