<mat-list-item>
  <mat-icon color="accent" matListIcon>folder</mat-icon>
  <h4 *ngIf="!modificationIsActive" mat-line>{{ingredientQuantity.quantity | noDecimal}} {{ingredientQuantity.measurementUnit.name}}
    de {{ingredientQuantity.ingredient.name}}</h4>
  <ng-container *ngIf="(filteredIngredientList$ | async) as filteredIngredientList">
    <form (ngSubmit)="update()" *ngIf="modificationIsActive" [formGroup]="ingredientForm"
          class="update-ingredient-form">
      <mat-form-field appearance="outline" class="quantity">
        <mat-label>Quantité</mat-label>
        <input formControlName="quantity" matInput min="0" max="9999" step="0.1" type="number">
        <mat-error>Entrez une quantité de votre ingrédient</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" class="unity">
        <mat-label>Unitée de mesure</mat-label>
        <mat-select placeholder="Unitée de mesure" formControlName="measurementUnit" [compareWith]="compareFn">
          <mat-option *ngFor="let measurementUnit of measurementUnitList" [value]="measurementUnit">
            {{measurementUnit.name}}
          </mat-option>
        </mat-select>
        <mat-error>Entrez l'unité de mesure de votre ingrédient</mat-error>
      </mat-form-field>
      <div class="last-form-field">
        <mat-form-field>
          <mat-label>Ingrédient</mat-label>
          <input #ingredientInput [matAutocomplete]="auto" formControlName="ingredient" matInput maxlength="50"
                 type="text">
          <mat-hint align="end">{{ingredientInput.value?.length || 0}}/50</mat-hint>
          <mat-error>Entrez le nom de votre ingredient</mat-error>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="this.ingredientQuantityService.displayIngredient">
            <mat-option *ngFor="let ingredient of filteredIngredientList"
                        [value]="ingredient">{{ingredient.name}}</mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="bottom-button-container">
        <button *ngIf="ingredientForm.valid && ingredientForm.dirty;else cancelTemplate" color="primary" mat-icon-button
                type="submit">
          <mat-icon>save</mat-icon>
        </button>
        <ng-template #cancelTemplate>
          <button color="primary" mat-icon-button type="submit">
            <mat-icon>cancel</mat-icon>
          </button>
        </ng-template>
      </div>
    </form>
  </ng-container>
  <button *ngIf="!modificationIsActive" mat-icon-button (click)="activeModification()">
    <mat-icon>edit</mat-icon>
  </button>
  <button color="warn" mat-icon-button (click)="delete()">
    <mat-icon>delete</mat-icon>
  </button>
</mat-list-item>
