@import '../../../sass/theme/theme-small';

h1 {
  font-size: 2em;
  color: $mat-primary-900;
  text-align: center;
  margin: 4rem 0 3rem 0;
}

mat-card{
  max-width: 320px;
  margin: auto;
}

.mat-card-content {
  padding: 2em;
}

form {
  .mat-form-field {
    display: block;
    margin-bottom: 1em;
  }

  .bottom-button-container {
    display: flex;
    justify-content: space-evenly;
  }

  .mat-form-field:last-of-type {
    margin-bottom: 2em;
  }

  .formGroupError {
    height: 2em;
    margin-bottom: 1.5em;
  }
}

.registration-link{
  display: block;
  text-align: center;
  margin: 2rem;
}

form .mat-form-field:last-of-type {
  margin-bottom: 0;
}

.user-name {
  color: $mat-accent-500;
}
