<app-web-page>
  <app-web-page-content>
    <h1>Connexion</h1>
    <ng-container *ngIf="(authService.currentUser$ | async) as curentUser">
      <h1><span class="user-name">{{ curentUser.name | titlecase }}</span>, vous êtes déjà connecté.</h1>
    </ng-container>
    <mat-card *ngIf="!(authService.currentUser$ | async)">
      <mat-card-content>
        <ng-container >
          <form (ngSubmit)="tryLogin()" [formGroup]="loginForm" class="login-form">
            <mat-form-field>
              <mat-label>Nom d'utilisateur</mat-label>
              <input formControlName="userName" matInput name="username" type="text">
              <mat-error>Veuillez entré votre nom d'utilisateur</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Mot de passe</mat-label>
              <input formControlName="password" matInput name="password" type="password">
              <mat-error>Veuillez entré votre mot de passe</mat-error>
            </mat-form-field>
            <div class="formGroupError">
              <mat-error *ngIf="loginForm.hasError('invalidUserOrPassword')">Nom de d'utilisateur ou mot de passe invalide</mat-error>
            </div>
            <div class="button-container">
              <button color="primary" mat-raised-button type="submit">
                Connexion
              </button>
            </div>
          </form>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </app-web-page-content>
</app-web-page>
