@import "../../../sass/theme/theme-small";
$item-height: 366;
$item-width: 306;
$image-mask-margin: 8;
$image-mask-width: $item-width - ($image-mask-margin * 2);

.image-flex-container {
  display: flex;
  order: 1;
  flex-grow: 1;
  flex-shrink: 0;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}

.item-shape {
  display: block;
  height: $item-height + 0px;
  width: $item-width + 0px;
  background: $mat-primary-400;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  position: relative;
  margin: auto;

  .image-mask {
    display: inline-block;
    height: $item-height - ($image-mask-margin * 2) + 0px;
    width: $image-mask-width + 0px;
    margin-top: $image-mask-margin + 0px;
    margin-left: $image-mask-margin + 0px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-position: center;
    background-size: $item-height + 0px;
  }
}

.image-ingredient {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;

  > * {
    margin: 1.5em;
  }

  .ingredient {
    flex: 1;
    margin-bottom: 4em;
    margin-top: 1em;

    h1 {
      margin-bottom: 0.3em;
      color: $mat-primary-900;
      &::first-letter {
        text-transform: capitalize;
      }
    }
  }
}

.instructions {
  margin: -2.2em 1.5em 2.5em 1.5em;

  h1 {
    margin-bottom: 1em;
    color: $mat-primary-900;
  }
}

.portion-picker {
  display: flex;

  button {
    margin: 0 -2px;
  }

  mat-icon {
    font-size: 2.1em;
    margin-left: -5px;
    margin-top: -1px;
  }

  h2 {
    align-self: center;
    margin-right: 0.4em;
    white-space: nowrap;
  }
}

.categories,
.auteur,
.variant {
  margin: 1em 1.5em 0 1.5em;
  h2 {
    display: inline-block;
  }
  h2 {
    white-space: nowrap;
    margin-right: 0.5em;
    margin-left: 0.2em;
    color: $mat-primary-900;
  }
}

.categories {
  mat-chip {
    cursor: pointer;
  }
  mat-chip-list {
    display: inline-block;
  }
}

.variant {
  margin-bottom: 1em;
  a {
    padding: 0 4px;
    font-size: 16px;
    font-family: Impacto, Impact, sans-serif;
    color: $mat-primary-900;
    &:first-letter {
      color: $mat-primary-400;
      text-transform: capitalize;
    }
  }
  .variant_list {
    display: inline;
  }
}

.auteur {
  margin-bottom: 1em;
}
