<app-web-page *ngIf="recipe">
  <app-web-page-header>
    <app-web-page-title>
      {{recipe.title}}
    </app-web-page-title>
    <app-web-page-subtitle>
      {{recipe.inspiration}}
    </app-web-page-subtitle>
    <app-web-page-action-menu *ngIf="authService.currentUser$ | async">
      <a color="accent" mat-flat-button [routerLink]="['/recipe/edit', recipe.slug]">
        Modificer la recette
        <mat-icon>edit</mat-icon>
      </a>
    </app-web-page-action-menu>
  </app-web-page-header>
  <app-web-page-content>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <div class="image-ingredient">
      <div *ngIf="recipe.recipeImage" class="image-flex-container">
        <div class="item-shape">
          <div [ngStyle]="{'background-image': 'url('+recipe.recipeImage.imageUrl+') '}" class="image-mask"></div>
        </div>
      </div>
      <div class="ingredient">
        <h1>Ingrédient</h1>
        <app-ingredient-quantity-list [recipe]="recipe"></app-ingredient-quantity-list>
      </div>
    </div>
    <div class="instructions">
      <h1>Instructions</h1>
      <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(recipe.instructions)" class="ck-content"></div>
    </div>
  </app-web-page-content>
</app-web-page>
