@import '~@angular/material/theming';

//.polaroide {
//  @include mat-elevation(5);
//  max-width: 512px;
//  width: 60%;
//  margin: auto;
//  transform: rotate(15deg);
//  display: block;
//  border: solid 20px rgb(118, 204, 51);
//  .image-label {
//    border-top: solid 20px rgb(118, 204, 51);
//    padding: 10px;
//    margin: -1px;
//    display: block;
//    font: 400 25px/1.5 'Pacifico', Helvetica, sans-serif;
//    color: #2b2b2b;
//    text-shadow: 1px 1px 0px rgba(0,0,0,0.1), 3px 3px 0px rgba(0,0,0,0.05);
//  }
//}

.polaroide {
  @include mat-elevation(5);
  padding: 0.5em;
  margin: auto;
  border-radius: 4px;
  background-color: #ABBF80;
  max-width: 256px;
  transform: rotate(12deg);
  img{
    border-radius: inherit;
  }
}

.image{
  border-radius: 4px;
  order: 1;
  align-self: center;
  flex-grow: 1;
  flex-shrink: 0;
  //flex: 1 0 0;
  margin: 3em 0;
}

.image-ingredient{
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: flex-start;
  justify-content: center;
}

.ingredient {
  flex: 1;
  margin: 1.5em;
  h1 {
    margin-bottom: 0.5em;
  }
}

.instructions {
  margin: 0 1.5em 1.5em 1.5em;
  h1 {
    margin-bottom: 1em;
  }
  markdown {
    padding-left: 1em;
    display: block;
  }
}
