<div
  *ngIf="recipe && ingredientList && isLoaded"
  class="ingredient-form"
  cdkDropListGroup
  cdkDropList
  (cdkDropListDropped)="onGroupListDrop($event)"
>
  <ng-container
    *ngIf="
      this.measurementUnitService.measurementUnitList as measurementUnitList
    "
  >
    <div
      *ngFor="let groupData of groupDataList"
      cdkDrag
      class="ingredient-group-data"
    >
      <div class="ingredient-group" cdkDragHandle>
        <div class="ingredient-group-title">
          <mat-form-field
            class="medium inline-form-field h1-like"
            floatLabel="never"
            hideRequiredMarker="true"
          >
            <input
              matInput
              type="text"
              [formControl]="groupData.updateIngredientGroupNameForm"
              placeholder="Nom du groupe"
            />
          </mat-form-field>
        </div>
        <div class="ingredient-group-delete-button">
          <button
            color="accent"
            mat-flat-button
            [disabled]="groupData.ingredientRowDataList.length !== 0"
            matTooltip="Le groupe doit être vide pour pouvoir être supprimé"
            matTooltipPosition="above"
            [matTooltipDisabled]="groupData.ingredientRowDataList.length === 0"
            (click)="this.deleteIngredientGroup(groupData)"
          >
            Supprimer le groupe <mat-icon>remove_circle_outline</mat-icon>
          </button>
        </div>
      </div>
      <!-- Table with all the ingredient quantity of the ingredient group -->
      <!-- TODO: Change the formGroup -->
      <form (submit)="addIngredientQuantity(groupData)">
        <table
          mat-table
          [dataSource]="groupData.ingredientRowDataList"
          cdkDropList
          [cdkDropListData]="groupData"
          (cdkDropListDropped)="onListDrop($event)"
        >
          <!-- Draggable indicator Column -->
          <ng-container matColumnDef="draggable">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let ingredientRowData">
              <mat-icon class="material-icons" color="primary"
                >drag_indicator</mat-icon
              >
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Used in instruction Column -->
          <ng-container matColumnDef="used">
            <th mat-header-cell *matHeaderCellDef>Utilisée</th>
            <td mat-cell *matCellDef="let ingredientRowData">
              <ng-container
                *ngIf="
                  this.ingredientQuantityMentionService.isIngredientQuantityUsedAsMention(
                    ingredientRowData.ingredientQuantity,
                    this.recipe
                  );
                  else notUsedBlock
                "
              >
                <mat-icon class="material-icons color_green">done</mat-icon>
              </ng-container>
              <ng-template #notUsedBlock>
                <mat-icon class="material-icons color_red">close</mat-icon>
              </ng-template>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <!-- Quantity Column -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef>Quantité</th>
            <td
              mat-cell
              *matCellDef="let ingredientRowData"
              [formGroup]="ingredientRowData.ingredientQuantityForm"
            >
              <mat-form-field
                class="small number inline-form-field"
                floatLabel="never"
              >
                <input
                  formControlName="quantity"
                  matInput
                  type="text"
                  placeholder="Quantité"
                />
              </mat-form-field>
            </td>
            <td
              mat-footer-cell
              *matFooterCellDef
              [formGroup]="
                groupData.addIngredientRowData.ingredientQuantityForm
              "
            >
              <mat-form-field
                class="small number inline-form-field"
                floatLabel="never"
                hideRequiredMarker="true"
              >
                <input
                  matInput
                  type="text"
                  formControlName="quantity"
                  #addQuantityInputField
                  placeholder="Quantité"
                />
              </mat-form-field>
            </td>
          </ng-container>

          <!-- Unit Column -->
          <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef>Unitée</th>
            <td
              mat-cell
              *matCellDef="let ingredientRowData"
              [formGroup]="ingredientRowData.ingredientQuantityForm"
            >
              <mat-form-field
                class="medium inline-form-field"
                floatLabel="never"
              >
                <mat-select
                  formControlName="measurementUnit"
                  [compareWith]="compareFn"
                  placeholder="Unitée"
                >
                  <mat-option
                    *ngFor="let measurementUnit of measurementUnitList"
                    [value]="measurementUnit"
                  >
                    {{ measurementUnit.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td
              mat-footer-cell
              *matFooterCellDef
              [formGroup]="
                groupData.addIngredientRowData.ingredientQuantityForm
              "
            >
              <mat-form-field
                class="medium inline-form-field"
                floatLabel="never"
                hideRequiredMarker="true"
              >
                <mat-select
                  formControlName="measurementUnit"
                  [compareWith]="compareFn"
                  placeholder="Unitée"
                >
                  <mat-option
                    *ngFor="let measurementUnit of measurementUnitList"
                    [value]="measurementUnit"
                  >
                    {{ measurementUnit.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </ng-container>

          <!-- Of Column -->
          <ng-container matColumnDef="of">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let ingredientQuantity"><div>de</div></td>
            <td mat-footer-cell *matFooterCellDef><div>de</div></td>
          </ng-container>

          <!-- Ingredient Column -->
          <ng-container matColumnDef="ingredient">
            <th mat-header-cell *matHeaderCellDef>Ingredient</th>
            <td
              mat-cell
              *matCellDef="let ingredientRowData"
              [formGroup]="ingredientRowData.ingredientQuantityForm"
            >
              <mat-form-field floatLabel="never" class="inline-form-field">
                <input
                  [matAutocomplete]="auto"
                  formControlName="ingredient"
                  matInput
                  maxlength="50"
                  type="text"
                  placeholder="Ingredient"
                />
                <mat-autocomplete
                  #auto="matAutocomplete"
                  autoActiveFirstOption
                  [displayWith]="
                    this.ingredientQuantityService.displayIngredient
                  "
                >
                  <mat-option
                    *ngFor="
                      let ingredient of ingredientRowData.filteredIngredientListObservable
                        | async
                    "
                    [value]="ingredient"
                    >{{ ingredient.name }}</mat-option
                  >
                </mat-autocomplete>
              </mat-form-field>
            </td>
            <td
              mat-footer-cell
              *matFooterCellDef
              [formGroup]="
                groupData.addIngredientRowData.ingredientQuantityForm
              "
            >
              <mat-form-field
                floatLabel="never"
                hideRequiredMarker="true"
                class="inline-form-field"
              >
                <input
                  matInput
                  type="text"
                  [matAutocomplete]="autoNew"
                  formControlName="ingredient"
                  placeholder="Ingredient"
                />
                <mat-autocomplete
                  #autoNew="matAutocomplete"
                  autoActiveFirstOption
                  [displayWith]="
                    this.ingredientQuantityService.displayIngredient
                  "
                >
                  <mat-option
                    *ngFor="
                      let ingredient of groupData.addIngredientRowData
                        .filteredIngredientListObservable | async
                    "
                    [value]="ingredient"
                    >{{ ingredient.name }}</mat-option
                  >
                </mat-autocomplete>
              </mat-form-field>
            </td>
          </ng-container>

          <!-- Action button Column -->
          <ng-container matColumnDef="deleteIngredient">
            <th mat-header-cell *matHeaderCellDef></th>
            <td
              mat-cell
              *matCellDef="let ingredientRowData"
              [formGroup]="ingredientRowData.ingredientQuantityForm"
            >
              <button
                color="warn"
                mat-stroked-button
                (click)="deleteIngredientQuantity(ingredientRowData)"
                type="button"
              >
                Retirer
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
            </td>
            <td
              mat-footer-cell
              *matFooterCellDef
              [formGroup]="groupData.addIngredientRowData"
            >
              <button color="primary" mat-flat-button type="submit">
                Ajouter
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            cdkDrag
          ></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>
      </form>
      <mat-error
        *ngIf="hasRequiredError(groupData) || hasPatternError(groupData)"
        [@flyInOutTransition]
      >
        <div *ngIf="hasRequiredError(groupData)">
          L'ensemble des champs doivent être remplis.
        </div>
        <div *ngIf="hasPatternError(groupData)">
          Les quantités doivent avoir au plus 2 décimales, 6 chiffres (décimales
          comprises) et utiliser un point comme séparateur.
        </div>
      </mat-error>
    </div>
    <div class="add-group">
      <button
        color="primary"
        mat-raised-button
        type="submit"
        (click)="addIngredientGroup()"
      >
        Créer un nouveau groupe
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
  </ng-container>
</div>
