@import "../../../sass/theme/theme-small";

.ingredient-form {
  margin: 0 0em;
}

h1 {
  color: $mat-primary-900;
}

.ingredient-group {
  box-sizing: border-box;
  margin-top: 2em;
  border: 1px solid #c4c4c4;
  border-bottom: 0;
  border-radius: 2px 2px 0 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 56px;
  overflow-x: hidden;
  background: #f2f0f4;
  line-height: 24px;
  border-collapse: separate;
  border-spacing: 0px 0px;

  .ingredient-group-title {
    flex-grow: 1;
    padding: 0 2em;
  }

  .ingredient-group-delete-button {
    padding-right: 2em;
  }
}

form {
  display: block;
}

table {
  width: 100vw;
  border: 1px solid #c4c4c4;
  border-collapse: initial;
  border-radius: 0 0 2px 2px;
  display: block;
  width: 100%;
  overflow-x: auto;

  tr.mat-row:hover {
    background: #fafafa;
  }

  td,
  th {
    padding-right: 1.5em;
  }

  .mat-column-ingredient {
    width: 100%;
  }
}

tr.mat-row td {
  &.mat-column-used .mat-icon,
  &.mat-column-draggable .mat-icon {
    vertical-align: middle;
  }
}

table td.mat-column-used {
  text-align: center;
}
.material-icons.color_green {
  color: #407a52;
}
.material-icons.color_red {
  color: #8f1d21;
}

.mat-column-deleteIngredient {
  text-align: end;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);

  td.mat-cell:first-of-type {
    padding-left: 1em;
  }
  td.mat-cell {
    padding-right: 1.5em;
  }

  .mat-column-ingredient {
    width: 100%;
  }
  .ingredient-group {
    margin-top: 0;
  }
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .ingredient-group-data:not(.cdk-drag-placeholder),
.cdk-drop-list-dragging .mat-row:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-error {
  padding: 1em 1em 0 1em;
  transition: opacity 0.5s ease-in-out;
  position: relative;
  z-index: -1;
}

.add-group {
  text-align: center;
  margin: 2em 0 1em 0;
}
