@use "@angular/material" as mat;

.mat-mdc-card {
  margin-bottom: 16px;
  padding: 0;
  background: #f2f0f4 !important;
}

mat-card-header {
  padding: 16px 16px 0 16px;
  color: mat.get-color-from-palette($mat-primary, 900);
  border-bottom: 1px solid mat.get-color-from-palette($mat-primary, 100);
  background: mat.get-color-from-palette($mat-primary, 50);

  &:first-child {
    border-radius: 4px 4px 0 0;
  }
  .mat-card-header-text {
    flex: 1;
  }
}
