.mat-mdc-table {
  .mat-mdc-header-cell {
    color: #430e4b;
    font-size: 14px;
  }

  .mat-mdc-header-row {
    background: #f2f0f4;
  }
}

.mat-mdc-row,
.mat-mdc-footer-row {
  td.mat-mdc-cell:first-of-type {
    padding-left: 1em;
  }
}
