@use "@angular/material" as mat;

button.mat-mdc-raised-button,
button.mat-mdc-outlined-button,
button.mat-mdc-unelevated-button {
  margin: 0 0.65em;
  min-width: 3em;
}

// Handle buttons appropriately, with respect to line-height
.mat-mdc-raised-button,
.mat-mdc-outlined-button,
.mat-mdc-unelevated-button {
  padding: 0 1.15em;
  margin: 0 0.65em;
  min-width: 3em;
  line-height: 36.4px;
}

.mat-mdc-raised-button {
  font-size: 16px;

  &:active:not([disabled]) {
    margin-top: 2px;
    border: none;
  }
}

.mat-mdc-raised-button.mat-primary {
  border-bottom: 2px solid mat.get-color-from-palette($mat-primary, 900);

  &[disabled] {
    border-bottom: 2px solid mat.get-color-from-palette($mat-primary, 300);
  }
}

.mat-mdc-raised-button.mat-accent {
  border-bottom: 2px solid mat.get-color-from-palette($mat-accent, 900);

  &[disabled] {
    border-bottom: 2px solid mat.get-color-from-palette($mat-accent, 300);
  }
}

.mat-mdc-raised-button.mat-warn {
  border-bottom: 2px solid mat.get-color-from-palette($mat-warn, 900);

  &[disabled] {
    border-bottom: 2px solid mat.get-color-from-palette($mat-warn, 300);
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version. */
.mat-button-wrapper .mat-icon {
  margin-left: 4px;
}
