.mat-table {
  .mat-header-cell {
    color: #430e4b;
    font-size: 14px;
  }

  .mat-header-row {
    background: #f2f0f4;
  }
}

.mat-row,
.mat-footer-row {
  td.mat-cell:first-of-type {
    padding-left: 1em;
  }
}
