@import '../../../sass/theme/mushfood-theme';

:host {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1em;

  > * {
    flex: 1;
    margin-bottom: 1em;

    > .button {
      margin: 0.5em;
    }

    > h1 {
      margin-bottom: 0.8em;
      color: mat-color($mat-primary, 900);
    }

    > mat-form-field {
      width: 100%;
    }
  }

}
