<div [class.last-left]="this.recipeListHexagon[index]===positionEnum.LastRowLeft"
     [class.left]="this.recipeListHexagon[index]===positionEnum.Left || this.recipeListHexagon[index]===positionEnum.All"
     [class.right]="this.recipeListHexagon[index]===positionEnum.Right || this.recipeListHexagon[index]===positionEnum.All"
     class="recipe-item">
  <a [routerLink]="routerLink" class="item-shape" mat-ripple>
    <div [ngStyle]="{'background-image': backgroundImageLink}"
         class="image-mask">
      <div *ngIf="variant && variant.length > 0" class="variant">
        ×{{variant.length}}
      </div>
      <div class="text">
        <div class="reverse-mask-left"></div>
        <div class="reverse-mask-right"></div>
        <p>{{hexagonTitle}}</p>
      </div>
    </div>
  </a>
</div>
