@import '../../../../sass/theme/theme-small';

:host {
  display: block;
}

h1 {
  margin: 0 auto 0.3em auto;
  hyphens: none;

  &:first-letter {
    text-transform: uppercase;
  }
}

:host.recipe {
  h1 {
    text-align: center;
    font-size: 2em;
    font-family: Impacto, Impact, sans-serif;
    color: $mat-primary-900;
    &:first-letter {
      color: $mat-primary-400;
    }
  }
}
