@import '../sass/theme/mushfood-theme';

:host {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 100%;
}

.web-page-content {
  flex: 1;
}

footer {
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  color: white;
  font-size: 0.8rem;
  background-color: mat-color($mat-primary, 500);
}
