:host {
  display: block;
  margin-top: 1em;
}

.header {
  max-width: 850px;
  margin-right: auto;
  margin-left: auto;

  .mat-divider {
    margin: 0 1em;
  }
}

.header__content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2em;

  > div {
    flex: 1;
    margin: 1em 0;
  }
}
